* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.offer {
    display: flex;
    gap: 10px;
    background-color: black;
    padding: 2px;
    text-align: center;
    color: white;
    justify-content: center;
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navbar__s2 {
    display: flex;
    gap: 15px;

}

.navbar__s2 a {
    border-bottom: solid transparent 1px;
    transition: 0.2s;
}

.navbar__s2 a:hover {
    border-bottom: solid black 1px;
    transition: 0.2s;
}

/* sidebar */

.menu-btn {
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: black;
    transition: 0.3s;
    padding-top: 60px;

}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #444;
}

.sidebar a:hover {
    background: #444;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Show Sidebar when active */
.sidebar.active {
    left: 0;
}

/* sidebar ends */

/* slider */
.slider {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin: 10px auto;
}

.slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-container img {
    width: calc(100% / 3);
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* slider end */

.heading {
    font-weight: 700;
    font-size: 30px;
}

.customer_experiences {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
    align-items: center;
}

.customer_experiences__head {
    font-weight: 700;
    font-size: 30px;
    width: 30%;
}

.customer_facilities {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.customer_facilities div {
    margin: 5px;
    background-color: rgba(121, 121, 121, 0.334);
    border-radius: 5px;
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 1;
}

.customer_facilities__head {
    font-weight: 700;
}

.customer_facilities i {
    font-size: xx-large;
}

.new_arrivals_head {
    font-size: x-large;
    font-weight: 700;
    margin: 30px 15px;
}

.new_arrivals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 15px;
    justify-content: space-between;
}

.new_arrivals div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.new_arrivals img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(30%) brightness(80%);
}

.new_arrivals button {
    position: absolute;
    top: 40%;
}

.most_wanted_section {
    width: 100%;
    overflow: hidden;
    padding: 20px;
}

.most_wanted {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.most_wanted_head{
    font-size: x-large;
    font-weight: 700;
}

.most_wanted div {
    flex:0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.most_wanted p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 1;
}

.most_wanted i{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 10px;
    font-size: xx-large;
}

.most_wanted img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    filter: grayscale(30%) brightness(80%);
    z-index: 0;
}

/* Hide scrollbar but keep scrolling functionality */
.most_wanted::-webkit-scrollbar {
    display: none;
}


.offer_banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 60vh;
    width: 100%;
    background-color: #1E232E;
    color: white;
    padding: 20px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: large;
}

.offer_banner > div{
    width: 60%;
}

.newsletter{
    text-align: center;
}

.newsletter button{
    background-color: #1E232E;
}

.newsletter_body{
    font-size: 20px;
}

.newsletter_head{
    font-weight: 700;
    font-size: 30px;
}

.newsletter input{
    width: 60%;
    text-decoration: none;
    border: solid #1E232E 2px;
    padding: 2px;
}

.footer{
    margin-top: 40px;
    color: white;
    background-color: #1E232E;
    height: fit-content;
    padding: 30px 20px;
}

.footer i{
    margin-right: 30px;
}

/* collection styles */

.split_container{
    display: flex;
}

.split_container_left{
    margin-top: 50px;
    margin-left: 10px;
    width: 20%;
}

.split_container_left h1{
    font-size: x-large;
    font-weight: 700;
}

.split_container_right{
    margin: 15px;
    padding: 10px;
    width: 100%;
    border-left: solid #1E232E 3px;
}

.searchbar{
    border: solid #1E232E 1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 30px;
}

.searchbar input{
    outline: none;
    width: 90%;
}

.collections_list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.collections_list img{
    width: 200px;
    height: 250px;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
}

.collections_list{
    filter: grayscale(10%) brightness(80%);
}

.collections_list div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cloth_name{
    font-weight: 600;
    font-size: 20px;    
}

/* media queries */

@media screen and (min-width:800px) {
    .menu-btn {
        display: none;
    }

}

@media screen and (max-width:800px) {

    .navbar__s2 {
        display: none;
    }

    .new_arrivals {
        grid-template-columns: 1fr 1fr;
    }

    .collections_list{
        grid-template-columns: 1fr 1fr;
    }

    .offer_banner{
        height: 40vh;
    }
}

@media screen and (max-width:600px){
    .offer_banner{
        height: 30vh;
    }

    .slider{
        height: 30vh;
    }

    .slider h1{
        font-size: x-large;
    }

    .heading{
        font-size: large;
    }

    .customer_experiences__head{
        font-size: x-large;
    }
}
